<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Register</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Registration No.">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class='form-group'>
                    <input type="radio" id="boy"
                     name="gender" value="M" checked >
                    <label for="boy">Male</label>

                    <input type="radio" id="F"
                     name="gender" value="girl">
                    <label for="girl">Female</label>
                </div>
                
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Register</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>

